In [1]:
import pandas as pd

In [2]:
df_baseline = pd.read_csv("results/baseline_llama-2-7b.csv", index_col=0)
df_baseline

          task correctness    order     Clean       One    Median     Reset
0        T1098     correct  rel_irr  8.671875  6.871094  4.203125  6.648438
1        T1098     correct  irr_rel  8.789062  5.406250  3.556641  5.992188
2        T1098   incorrect  rel_irr  8.437500  5.824219  5.691406  7.132812
3        T1098   incorrect  irr_rel  9.523438  6.863281  7.250000  7.847656
4        T1110     correct  rel_irr  9.648438  6.921875  4.257812  7.917969
..         ...         ...      ...       ...       ...       ...       ...
363  T1204.001   incorrect  irr_rel  9.835938  5.101562  2.933594  7.917969
364  T1204.002     correct  rel_irr  9.593750  5.000000  4.031250  6.281250
365  T1204.002     correct  irr_rel  9.031250  3.794922  3.527344  5.726562
366  T1204.002   incorrect  rel_irr  5.941406  1.116211  0.469238  4.667969
367  T1204.002   incorrect  irr_rel  7.000000  3.548828  0.392578  4.554688

[368 rows x 7 columns]

In [3]:
for i in ["One", "Median", "Reset"]:
    df_baseline[f"{i} as %"] = (df_baseline[i] - df_baseline["Clean"]) / df_baseline["Clean"] * 100

df_baseline.drop(columns=["task", "Median", "One", "Reset"]).groupby(["correctness", "order"]).aggregate(["mean"]).round(2)

                    Clean One as % Median as % Reset as %
                     mean     mean        mean       mean
correctness order
correct     irr_rel  9.13   -60.06      -54.38     -18.14
            rel_irr  9.33   -43.92      -46.72     -15.11
incorrect   irr_rel  9.15   -49.75      -57.40     -14.64
            rel_irr  8.66   -66.75      -61.54     -20.51